spring:
  tomcat:
    keep-alive-timeout: 0
  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8    # 풀에서 사용할 수 있는 최대 연결 수
          max-idle: 8      # 풀에 유지할 최대 유휴(idle) 연결 수
          min-idle: 2      # 풀에 유지할 최소 유휴(idle) 연결 수
        shutdown-timeout: 100ms # 클라이언트 종료 시 대기하는 시간
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5                # 최소 커넥션 개수
      maximum-pool-size: 20          # 최대 커넥션 개수 (트래픽 따라 조절)
      idle-timeout: 30000            # (ms) 유휴 커넥션 정리까지 대기 시간 (30초)
      max-lifetime: 1800000          # (ms) 커넥션 최대 생존 시간 (30분)
      connection-timeout: 5000       # (ms) 커넥션 가져오기 타임아웃 (5초)
      auto-commit: false             # 트랜잭션 수동 커밋이 일반적
      pool-name: HikariPool          # 로그 확인용 풀 이름
      validation-timeout: 3000       # (ms) 커넥션 검사 제한 시간
      leak-detection-threshold: 2000 # (ms) 커넥션 누수 감지 (2초 이상 미반납 경고)
      transaction-isolation: TRANSACTION_READ_COMMITTED
  jpa:
    hibernate:
      ddl-auto: update # 또는 create, validate, none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092,localhost:9093,localhost:9094


jwt:
  access_secret: DadFufN4Oui8Bfv3ScFj6R9fyJ9hD45E6AGFsXgFsRhT4YSdSb
  refresh_secret: 2X2N7NQvCJyvQUSK3nnvsuRmVC7NA4XaydaWcYsmGFzTcrYmM
  issuer: "my-shop-demo-project"

auth:
  super_admin: dancedragon25@gmail.com

rate-limit:
  capacity: 20        # 버킷 최대 토큰 수
  refill-tokens: 10    # 몇 개씩 리필할지
  refill-period: 1s   # 리필 주기 (1초)  한번에 최대 20개, 소진된 후 1초에 토큰 10개씩 추가됨 (1 request당 1 token 소모한다면, 1초당 10개 api 가능)
  keep-after-refill: 10s # 버킷이 `capacity` 만큼 전부 차 있어도, redis 에서 바로 지우지 않고 N초 동안 유지한다.
  # 아래는 heavy 한 작업들이라서 Api rate 토큰을 더 많이 소모하도록 한다.
  # `url_pattern`은 `AntPathMatcher`에서 지원하는 형식으로 기입
  heavy-map:
    POST:
      - url_pattern: /login
        tokens: 5
      - url_pattern: /login/oauth/*
        tokens: 5
      - url_pattern: /token/refresh
        tokens: 5

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: alpha
    display-request-duration: true

payment:
  toss:
    secret: asdf
